* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bold;
    src: url(../font/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: semibold;
    src: url(../font/MYRIADPRO-SEMIBOLD.OTF);
}

@font-face {
    font-family: regular;
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: light;
    src: url(../font/MyriadPro-Light.otf);
}

html {
    font-size: 12px;
    font-family: regular;
    color: #b4c2c8;
    height: 100vh;
}

body {
    background-color: #243137;
    min-height: 100vh;
    position: relative;
}

/* HEAD */

.logo {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #181f22;
    box-shadow: 0px 3px 20px #181f22;
    position: relative;
}

#home {
    text-decoration: none;
}

#infoicon, #logout, #login {
    width: auto;
    height: auto;
    position: absolute;
}

.logo svg {
    width: 25px;
    fill: #b4c2c8;
    transition: ease 0.5s;
}

#infoicon {
    left: 20px;
}

#logout, #login {
    right: 20px;
}

.logo svg:hover {
    fill: #dae1e4;
}

.logo h1 {
    font-size: 1.5rem;
    color: #dae1e4;
    font-family: bold;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
}

.search img {
    width: 20px;
    margin-left: 10px;
}

.search input {
    width: calc(100% - 45px);
    padding: 8px;
    padding-left: 15px;
    background-color: #6fd19d;
    border: none;
    border-radius: 50px;
    font-family: semibold;
    box-shadow: 2px 3px 20px #181f22;
}

.search input:hover, .search input:focus, .header select {
    box-shadow: 2px 3px 20px #0a0c0e;  
}

.header select {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: semibold;
    font-size: 1.1rem;
    /* color: white; */
    box-shadow: 2px 3px 20px #181f22;
}

#year {
    background-color: #f7c65c;
}

#order {
    background-color: #ed6263;
}

/* MAIN */

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 150px;
}

article {
    width: calc(100% / 3 - 40px);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: #34434d;
    border-radius: 20px;
    box-shadow: 1px 3px 20px #1c2529;
    margin-bottom: 50px;
}

article:hover {
    box-shadow: 2px 3px 20px #0a0c0e;
}

article svg {
    width: 25px;
}

article iframe {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

article h4 {
    font-family: semibold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    width: 100%;
}

.date {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.date h5 {
    font-size: 1.3rem;
    font-family: bold;
    color: #f7c65c;
}

.date h6 {
    font-size: 1rem;
    font-family: light;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.autor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.autor img {
    width: 30px;
    margin-right: 10px;
}

.autor p {
    font-size: 1.1rem;
}

.buttons svg {
    fill: #b4c2c8;
    transition: ease 0.5s;
    width: 20px;
}

.buttons svg:hover {
    fill: #dae1e4;
}

.buttons #alert {
    margin-right: 10px;
}


/* FOOTER */

footer {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    position: fixed;
    bottom: 0px;
    z-index: 3;
}

footer nav {
    width: 100%;
    height: 80px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #34434d;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 300px;
    padding-right: 300px;
    box-shadow: 3px 2px 20px #1c2529;
}

footer a {
    width: 25px;
    height: 25px;
}

footer svg {
    width: 25px;
    fill: #b4c2c8;
    transition: ease 0.5s;
}

footer svg:hover {
    fill: #dae1e4;
}

#add, #add svg {
    width: 50px;
    height: auto;
}

#add svg {
   fill: #6fd19d; 
}

#add svg:hover {
    fill: #87f0b8;
}

/* REGISTER */

#register {
    min-width: calc(100% - 60px);
    max-height: 100%;
    background-image: url(../img/pattern.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

#register-card {
    width: auto;
    padding: 50px;
}

#register-card h3 {
    font-size: 1.5rem;
    font-family: bold;
    text-align: center;
    margin-bottom: 20px;
}

#register-card form input {
    width: 350px;
    border: none;
    border-radius: 10px;
    background-color: #243137;
    margin-bottom: 15px;
    font-size: 1.2rem;
    padding: 8px;
    padding-left: 12px;
    color: #dae1e4;
}

#register-card form input:focus {
    box-shadow: 1px 3px 20px #181f22;
}

.btn-primary {
    width: 100%;
    font-size: 1.3rem;
    font-family: semibold;
    border: none;
    padding: 6px;
    border-radius: 10px;
    background-color: #a4b2b8;
    color: #243137;
    margin-top: 10px;
    transition: ease 0.5s;
}

.btn-primary:hover {
    background-color: #6fd19d;
}

::-webkit-input-placeholder {
    color: #a4b2b8;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #a4b2b8;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #a4b2b8;  
 }
 
 :-ms-input-placeholder {  
    color: #a4b2b8;  
 }

 .form-check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }

 .form-check div {
     display: flex;
     align-items: center;
 }

 input[type="checkbox" i] {
     width: 20px !important;
     margin-bottom: 0px !important;
}

.form-check-label {
    color: #f7c65c;
}

 .btn-link {
     color: #ed6263;
 }

 #register .link {
     text-align: center;
     margin-top: 20px;
 }

 #register .link a {
    color: #a4b2b8;
    font-size: 1.1rem;
    transition: ease 0.5s;
 }

 #register .link a:hover {
     color: #f7c65c;
 }

 /* PROFILE */

 .profile-info {
    width: 100%;
    background-color: #34434d;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 3px 20px #1c2529;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .profile-info img {
     width: 100px;
 }

 .profile-info div {
     width: auto;
     padding-left: 30px;
     padding-right: 30px;
 }

 .profile-info h3 {
     font-size: 2rem;
     margin-bottom: 5px;
     color: #dae1e4;
 }

 .profile-info h4 {
     font-size: 1.2rem;
 }

 .profile-info svg {
    width: 25px;
    fill: #b4c2c8;
    transition: ease 0.5s;
}

.profile-info svg:hover {
    fill: #dae1e4;
}

.erro-profile {
    width: 100%;
}

.erro-profile h4 {
    font-size: 1.2rem;
    text-align: center;
}

/* EDIT PROFILE */
.editprofile {
    padding-bottom: 50px;
    padding-top: 50px;
}

.editprofile #register-card {
    margin-bottom: 130px;
}

.editprofile #register-card p {
    font-size: 1.2rem;
}

.editprofile #avatar {
    width: 80px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.edit-avatar {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatars {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.avatars img {
    width: calc(100% / 10);
    min-width: 0px;
    max-width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.avatars img:hover {
    border-radius: 100px;
    border: 2px solid #f7c65c;
}

/* DENOUNCE MEME */

.denounce div, .denounce p {
    width: 350px;
    margin-bottom: 8px;
}

.denounce h4 {
    font-size: 1.3rem;
}

.denounce label {
    font-size: 1.2rem;
}

.denounce ::-webkit-input-placeholder {
    font-size: 1.1rem;
}

.denounce label, .denounce input {
    margin-bottom: 20px;
}

/* ERRO */

.erro a {
    font-size: 1.1rem;
    color: #f7c65c;
    margin-top: 10px;
    text-align: center;
}

.erro p {
    text-align: center;
}

/* MEDIA QUERYS */

@media (max-width: 970px){
    article {
        width: calc(100% / 2 - 20px);
    }

    footer nav {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 768px){
    article {
        width: 100%;
    }

    article iframe {
        height: 250px;
    }

    footer {
        padding: 0px;
    }

    footer nav {
        padding-left: 150px;
        padding-right: 150px;
    }

    .search {
        width: 100%;
        margin-bottom: 20px;
    }

    .header {
        margin-bottom: 30px;
    }

    .header select {
        width: calc(100% / 2 - 20px);
    }

    #register-card form input {
        width: 250px;
        font-size: 1.1rem;
    }

    #register-card form button {
        font-size: 1.2rem;
    }

    .profile-info img {
        width: 80px;
    }

    .profile-info {
        margin-bottom: 15px;
    }

    .editprofile {
        padding-left: 0px;
        padding-right: 0px;
    }

    .editprofile #register-card form input {
        width: 350px;
    }
}

@media (max-width: 480px){
    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer nav {
        padding-left: 80px;
        padding-right: 80px;
    }

    article iframe {
        height: 200px;
    }

    footer svg {
        width: 20px;
    }

    #register-card {
        padding: 30px;
    }

    #register-card form input {
        width: 230px;
        font-size: 1rem;
    }

    .profile-info img {
        width: 60px;
    }
   
    .profile-info div {
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .profile-info h3 {
        font-size: 1.3rem;
    }
   
    .profile-info h4 {
        font-size: 1rem;
    }

    .profile-info svg {
        width: 20px;
    }

    .profile-info {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .editprofile #register-card form input, .edit-avatar, .avatars {
        width: 250px;
    }

    #avatar49, #avatar50 {
        display: none;
    }

    .denounce div, .denounce p, .denounce h4, .denounce {
        width: 250px;
    }

    .denounce {
        align-self: center;
    }
}